<div class="card-header design">
<h3>Temperature Converter</h3>
</div>
<div class="card design" style="width: 35rem;">
    <img src="assets/hike.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Check the Weather Before You Hike:</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi saepe quis delectus impedit eveniet esse enim obcaecati quia ipsa, adipisci cupiditate nisi, quisquam ad maiores veniam? Vero, quae minima.</p>
      
    </div>
  
Farenheit: <input type="number" [(ngModel)]="farenheit" (ngModelChange)="convertToC()">
<br>
Celcius: <input type="number"[(ngModel)]="celcius" (ngModelChange)="convertToF()">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block space" (click)="convertToC()">Convert to C</button>
<button type="button" class="btn btn-secondary btn-lg btn-block space" (click)="convertToF()">Convert to F</button>
</div>



