<body>

    <header class="site-header init">
        
            <div class="content-header container">
                <div>

                    <div class="mobile-menu">
                        <a href="#menu">
                        <img src="barras.png" alt="mobile menu">
                        </a>
                    </div>

                    
                </div>
                
                <h1>We sell Custom Thermostats for Luxury Homes and Townhomes</h1>
            </div>
        
    </header>

       
 

       

        <div class="footer-style">
            <footer >
                <div class="footer-menu">
                <a href="home.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="blog.html">Blog</a>
                <a href="contact.html">Contact</a> 
                </div>
                <p class="copyright">All the copyrights reserved 2020 &copy;</p>
            </footer>
        </div>
        

   
</body>




